#!/bin/bash
# packages hash: {{ include "dot_config/mise/config.toml" | sha256sum }}
echo "Running $(basename "$0")"
$HOME/.local/bin/mise trust $HOME/.config/mise/config.toml && $HOME/.local/bin/mise install
